<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="utf-8">
    <title>{{this}}</title>
    <style>
        html,
        body {
            width: 297mm;
            height: 210mm;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: small;
            font-weight: bold;
        }

        td {
            word-wrap: break-word !important;
            height: 13px !important;
        }
    </style>
</head>

<body>
    <div style="width: 100%;padding: 3%;">
        <div style="float:right; width: 50%">
            <div style="float:right; width: 50%">
                <div style="float:right; width: 50%">
                    <img src="dabs_logo.png" height="60px" width="90px">
                </div>
                <div style="float:left; width: 50%">
                    <h3 style="margin-top: 0px;">دفتر مرکزی شهر کابل شماره تماس :۱۴۴</h3>
                </div>
            </div>
            <div style="float:left; width: 50%">
                <table class="table" border="1">
                    <tr>
                        <td>1 شماره بیل </td>
                        <td>98798789798789</td>
                    </tr>
                    <tr>
                        <td>دوره میتر خوانی</td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td> تاریخ صدور بل </td>
                        <td>1399-0-0</td>
                    </tr>
                    <tr>
                        <td> تاریخ مکلفیت تحویل بیل </td>
                        <td> 1399-0-0</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float:left; width: 50%">
            <div style="float:right; width: 50%">
                <div style="float:right; width: 50%">
                    <img src="dabs_logo.png" height="60px" width="90px">
                </div>
                <div style="float:left; width: 50%">
                    <h3 style="margin-top: 0px;">دفتر مرکزی شهر کابل شماره تماس :۱۴۴</h3>
                </div>
            </div>
            <div style="float:left; width: 50%">
                <table class="table" border="1">
                    <tr>
                        <td> شماره بیل </td>
                        <td>98798789798789</td>
                    </tr>
                    <tr>
                        <td>دوره میتر خوانی</td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td> تاریخ صدور بل </td>
                        <td>1399-0-0</td>
                    </tr>
                    <tr>
                        <td> تاریخ مکلفیت تحویل بیل </td>
                        <td> 1399-0-0</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="width: 100%;padding: 3%;">
        <div style="float:right; width: 50%">
            <div style="float:right; width: 40%">
                <table class="table" border="1">
                    <tr>
                        <td style="width: 50%;">نمبر میتر</td>
                        <td style="width: 50%;">۸۷۸۹۷۸</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">تعرفه</td>
                        <td style="width: 50%;">شسیبیس</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">ضریب میتر</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">فاز</td>
                        <td style="width: 50%;"></td>
                    </tr>
                </table>
            </div>
            <div style="float:left; width: 60%">
                <table class="table" border="1">
                    <tr style="background: #aaa;">
                        <td style="width: 30%;"> تفصیلات</td>
                        <td style="width: 30%;">تاریخ قراَت</td>
                        <td style="width: 30%;"> قراَت</td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">درجه حالیه</td>
                        <td style="width: 30%;">01-01-1396</td>
                        <td style="width: 30%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">درجه گذشته</td>
                        <td style="width: 30%;"> 01-01-1396 </td>
                        <td style="width: 30%;"></td>
                    </tr>
                    <tr>
                        <td style="border: none; background:#aaa; text-align: center;" colspan="3"> صرفیه ۶۶۷
                            کیلووات ساعت برای ۶۰ روز
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float:left; width: 50%">
            <div style="float:right; width: 40%">
                <table class="table" border="1">
                    <tr>
                        <td style="width: 50%;">نمبر میتر</td>
                        <td style="width: 50%;">۸۷۸۹۷۸</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">تعرفه</td>
                        <td style="width: 50%;">شسیبیس</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">ضریب میتر</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">فاز</td>
                        <td style="width: 50%;"></td>
                    </tr>
                </table>
            </div>
            <div style="float:left; width: 60%">
                <table class="table" border="1">
                    <tr style="background: #aaa;">
                        <td style="width: 30%;"> تفصیلات</td>
                        <td style="width: 30%;">تاریخ قراَت</td>
                        <td style="width: 30%;"> قراَت</td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">درجه حالیه</td>
                        <td style="width: 30%;">01-01-1396</td>
                        <td style="width: 30%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">درجه گذشته</td>
                        <td style="width: 30%;"> 01-01-1396 </td>
                        <td style="width: 30%;"></td>
                    </tr>
                    <tr>
                        <td style="border: none; background:#aaa;text-align: center;" colspan="3"> صرفیه ۶۶۷
                            کیلووات ساعت برای ۶۰ روز
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="width: 100%;padding: 3%;">
        <div style="float:right; width: 50%">
            <div style="float:right; width: 40%">
                <table class="table" border="1">
                    <tr>
                        <td style="width: 50%;">خدمات مشتریان</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">حساب سابقه/نمبر حساب سابقه</td>
                        <td style="width: 50%;">null/null</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> نمبر اشتراک</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">اسم مشترک</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> نام پدر</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td tyle="width: 50%;"> سکونت</td>
                        <td style="width: 50%;">ffsfshjfdhjdf</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> جنکشن</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> تراسفارمر</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> نمبر صندوق</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> کود مسیر</td>
                        <td style="width: 50%;"></td>
                    </tr>
                </table>
            </div>
            <div style="float:left; width: 60%">
                <table class="table" border="1">
                    <tr style="background: #aaa;">
                        <td style="width: 40%;"> صرفیه برق</td>
                        <td style="width: 30%;"> قیمت</td>
                        <td style="width: 30%;"> مبلغ به افغانی</td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td style="background: #aaa;" colspan="2">
                            مجموعه مصارف
                        </td>
                        <td style="border: none; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td colspan="2">کمیشن بانکی</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"> مصارف خدمات در یک دوره</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"> مصارف قرطاسیه</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"> ضایعات تراسفارمر/جریمه</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"> مصارف متفرقه</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float:left; width: 50%">
            <div style="float:right; width: 40%">
                <table class="table" border="1">
                    <tr>
                        <td style="width: 50%;">خدمات مشتریان</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">حساب سابقه/نمبر حساب سابقه</td>
                        <td style="width: 50%;">null/null</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> نمبر اشتراک</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">اسم مشترک</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> نام پدر</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td tyle="width: 50%;"> سکونت</td>
                        <td style="width: 50%;">ffsfshchjdf</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> جنکشن</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> تراسفارمر</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> نمبر صندوق</td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"> کود مسیر</td>
                        <td style="width: 50%;"></td>
                    </tr>
                </table>
            </div>
            <div style="float:left; width: 60%">
                <table class="table" border="1">
                    <tr style="background: #aaa;">
                        <td style="width: 40%;"> صرفیه برق</td>
                        <td style="width: 30%;"> قیمت</td>
                        <td style="width: 30%;"> مبلغ به افغانی</td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                    </tr>
                    <tr>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                        <td style="width: 30%;">2</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td style="background: #aaa;" colspan="2">
                            مجموعه مصارف
                        </td>
                        <td style="border: none; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td colspan="2">کمیشن بانکی</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"> مصارف خدمات در یک دوره</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"> مصارف قرطاسیه</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"> ضایعات تراسفارمر/جریمه</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"> مصارف متفرقه</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="width: 100%;padding: 3%;">
        <div style="float:right; width: 50%">
            <div style="float:right; width: 40%">
                <table class="table" border="1">
                    <tr>
                        <td style="width: 100%; font-weight: bolder; background: #aaa;"> نوت
                            واعلانات
                        </td>
                    </tr>
                    <tr style="height: 118px;">
                        <td style="width: 100%; "></td>
                    </tr>
                </table>
            </div>
            <div style="float:left; width: 60%">
                <table class="table" border="1">
                    <tr>
                        <td style="width: 60%; font-weight: bolder;  background: #aaa;"> مجموعه
                            مصارف
                            متفرقه</td>
                        <td style="width: 40%; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;">مبلغ بیل</td>
                        <td style="width: 40%; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;">مالیه</td>
                        <td style="width: 40%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;">مبلع قابل پرداخت</td>
                        <td style="width: 40%; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;">باقیات گذشته/دوره باقیداری</td>
                        <td style="width: 40%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;  background: #aaa;">مبلغ قابل تادیه
                        </td>
                        <td style="width: 40%; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td colspan="2">لطفا دوهزار عدد نه صد و چهل افغانی قبل از ۱۳۹۹-۰۴-۰۸ پرداخت نمایید تا از قطع لین
                            جلوگیری نمایید.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float:left; width: 50%">
            <div style="float:right; width: 40%">
                <table class="table" border="1">
                    <tr>
                        <td style="width: 100%; font-weight: bolder; background: #aaa;"> نوت
                            واعلانات
                        </td>
                    </tr>
                    <tr style="height: 118px;">
                        <td style="width: 100%; "></td>
                    </tr>
                </table>
            </div>
            <div style="float:left; width: 60%">
                <table class="table" border="1">
                    <tr>
                        <td style="width: 60%; font-weight: bolder;  background: #aaa;"> مجموعه
                            مصارف
                            متفرقه</td>
                        <td style="width: 40%; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;">مبلغ بیل</td>
                        <td style="width: 40%; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;">مالیه</td>
                        <td style="width: 40%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;">مبلع قابل پرداخت</td>
                        <td style="width: 40%; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;">باقیات گذشته/دوره باقیداری</td>
                        <td style="width: 40%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 60%;  background: #aaa;">مبلغ قابل تادیه
                        </td>
                        <td style="width: 40%; background: #aaa;"></td>
                    </tr>
                    <tr>
                        <td colspan="2">لطفا دوهزار عدد نه صد و چهل افغانی قبل از ۱۳۹۹-۰۴-۰۸ پرداخت نمایید تا از قطع لین
                            جلوگیری نمایید.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="width: 100%;padding: 3%;">
        <div style="float:right; width: 50%">
            <div style="float:right; width: 25%;margin-top: 50px;">
                <div style="float:right; width: 50%;">
                    <img src="dabs_logo.png" height="60px" width="60px">
                </div>
                <div style="float:left; width: 50%">
                    <h4 style="margin-top: 0px;">دفتر مرکزی شهر کابل شماره تماس :۱۴۴</h4>
                </div>
            </div>
            <div style="float:right; width: 55%">
                <table class="table" border="1">
                    <tr>
                        <td> جنکشن </td>
                        <td>98798789798789</td>
                    </tr>
                    <tr>
                        <td>دوره میتر خوانی</td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td> تاریخ درجه حالیه </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> ﻧﻤﺒﺮ ﺣﺴﺎﺏ ﺳﺎﺑﻘﻪ </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> ﻧﻤﺒﺮ ﺍﺷﺘﺮﺍﮎ </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> ﻧﻤﺒﺮﺷﻨﺎﺳﺎﯾﯽ ﻣﺸﺘﺮﮎ </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> ﺍﺳﻢ ﻣﺸﺘﺮﮎ </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> ﻧﺎﻡ ﭘﺪﺭ </td>
                        <td> </td>
                    </tr>
                    <tr style="background: #aaa;">
                        <td> ﻣﺒﻠﻎ ﻗﺎﺑﻞ ﺗﺎﺩﯾﻪ </td>
                        <td> </td>
                    </tr>
                </table>
            </div>
            <div style="float:left; width: 20%;margin-top: 30px;">
                <img src="QrCode.png" width="100px" height="100px" />
            </div>
        </div>
        <div style="float:left; width: 50%">
            <div style="float:right; width: 25%;margin-top: 50px;">
                <div style="float:right; width: 50%;">
                    <img src="dabs_logo.png" height="60px" width="60px">
                </div>
                <div style="float:left; width: 50%">
                    <h4 style="margin-top: 0px;">دفتر مرکزی شهر کابل شماره تماس :۱۴۴</h4>
                </div>
            </div>
            <div style="float:right; width: 55%">
                <table class="table" border="1">
                    <tr>
                        <td> جنکشن </td>
                        <td>98798789798789</td>
                    </tr>
                    <tr>
                        <td>دوره میتر خوانی</td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td> تاریخ درجه حالیه </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> ﻧﻤﺒﺮ ﺣﺴﺎﺏ ﺳﺎﺑﻘﻪ </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> ﻧﻤﺒﺮ ﺍﺷﺘﺮﺍﮎ </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> ﻧﻤﺒﺮﺷﻨﺎﺳﺎﯾﯽ ﻣﺸﺘﺮﮎ </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> ﺍﺳﻢ ﻣﺸﺘﺮﮎ </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> ﻧﺎﻡ ﭘﺪﺭ </td>
                        <td> </td>
                    </tr>
                    <tr style="background: #aaa;">
                        <td> ﻣﺒﻠﻎ ﻗﺎﺑﻞ ﺗﺎﺩﯾﻪ </td>
                        <td> </td>
                    </tr>
                </table>
            </div>
            <div style="float:left; width: 20%;margin-top: 30px;justify-content: center;">
                <img src="QrCode.png" width="100px" height="100px" />
            </div>
        </div>
</body>

</html>