<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        td,
        th,
        p,
        div,
        span {
            font-family: 'nazanin';
            font: 12px;
        }

        .table td,
        .table th {
            border: 1px solid #aaa;
            padding: 1px 0;
            text-align: right;
            font-size: 12px;
        }

        table {
            width: 100%;
            padding: 1px 0;
            border-collapse: collapse;
        }

        .head td {
            padding: 2px 0;
        }

        @page {
            size: auto;
            /* auto is the initial value */
            /* margin:4cm  4% 4cm 2%; */
            margin-header: 0mm;
            margin-footer: 0mm;
            /* header: html_myHeader;
                footer: html_myFooter; */

        }

        .table td,
        .table th {
            padding: 1px 1px;
            border: 1px solid #000;
        }

        .inner-table tr:first-child td,
        .inner-table tr:first-child th {
            border-top: 0
        }

        .inner-table tr td:first-child,
        .inner-table tr th:first-child {
            border-right: 0
        }

        .inner-table tr:last-child td,
        .inner-table tr:last-child th {
            border-bottom: 0
        }

        .inner-table tr td:last-child,
        .inner-table tr th:last-child {
            border-left: 0
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .bg-grey {
            background-color: #d8d8d8;
        }

        .center {
            text-align: center;
        }

        td {
            word-wrap: break-word;
            text-align: center;
            text-decoration: ivory;
            height: 14px !important;
        }

        .no-border {
            border: none
        }
    </style>
</head>

<body style="direction: rtl; ">
    <table class="table">
        <tr>
            <td style="text-align:left;width:48%; border: none;">
                <!-- heading section -->
                <table class="table">
                    <tr>
                        <td style="text-align:right;width:50%; padding-right: 50%; border: none; ">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey">  بیل شمیره </td>
                                    <td>98798789798789</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey">ددوره شمیره  </td>
                                    <td>01</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey">   دبیل دچاپ نیته </td>
                                    <td>1399-0-0</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey">   د بیل ورستنی نیته </td>
                                    <td> 1399-0-0</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- end of heading section -->
            </td>
            <td style="text-align:right; width: 48%; border: none; padding-right:4%;">
                <table class="table">
                    <tr>
                        <td style="text-align:right;width:50%; padding-right: 50%; border: none; ">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey"> د ميټر شمیره </td>
                                    <td>98798789798789</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey">ددوره شمیره </td>
                                    <td>01</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دبیل دچاپ نیته </td>
                                    <td>1399-0-0</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> د بیل ورستنی نیته </td>
                                    <td> 1399-0-0</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table class="table" style="padding-top: 10px;">
        <tr>
            <td style="text-align:left;width:48%; border: none;">
                <table class="table">
                    <tr>
                        <td style="text-align:left;width:40%; border: none;">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey" style="width: 50%;">دميټر شمیره</td>
                                    <td style="width: 50%;">۸۷۸۹۷۸</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 50%;">تعرفه</td>
                                    <td style="width: 50%;">شسیبیس</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 50%;">دميټر ضریب</td>
                                    <td style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 50%;">فاز</td>
                                    <td style="width: 50%; border-left: none; background-color: #aaa;"></td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align:right;width:60%; border: none;">

                            <table class="table">
                                <tr style="background-color: #aaa;">
                                    <td class="bg-grey" style="width: 30%;"> توضیح</td>
                                    <td class="bg-grey" style="width: 30%;">دميټر دلوست نیته</td>
                                    <td class="bg-grey" style="width: 30%;"> دميټر لوست</td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;">اوسنی درجه</td>
                                    <td style="width: 30%;">01-01-1396</td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;">مخکنی درجه</td>
                                    <td style="width: 30%;"> 01-01-1396 </td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td style="border: none; background-color:#aaa; width: 30%;"></td>
                                    <td style="border: none; background-color:#aaa; width:  30%;"></td>
                                    <td style="border: none; background-color:#aaa; width: 30%;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="text-align:right;width:48%; border: none; padding-right: 4%;">
                <table class="table">
                    <tr>
                        <td style="text-align:left;width:40%; border: none;">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey" style="width: 50%;">دميټر شمیره</td>
                                    <td style="width: 50%;">۸۷۸۹۷۸</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 50%;">تعرفه</td>
                                    <td style="width: 50%;">شسیبیس</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 50%;">دميټر ضریب</td>
                                    <td style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 50%;">فاز</td>
                                    <td style="width: 50%; border-left: none; background-color: #aaa;"></td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align:right;width:60%; border: none;">

                            <table class="table">
                                <tr style="background-color: #aaa;">
                                    <td class="bg-grey" style="width: 30%;"> توضیح</td>
                                    <td class="bg-grey" style="width: 30%;">دميټر دلوست نیته</td>
                                    <td class="bg-grey" style="width: 30%;"> دميټر لوست</td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;">اوسنی درجه</td>
                                    <td style="width: 30%;">01-01-1396</td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;">مخکنی درجه</td>
                                    <td style="width: 30%;"> 01-01-1396 </td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td style="border: none; background-color:#aaa; width: 30%;"></td>
                                    <td style="border: none; background-color:#aaa; width:  30%;"></td>
                                    <td style="border: none; background-color:#aaa; width: 30%;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table" style="padding-top: 10px;">
        <tr>
            <td style="text-align:left;width:48%; border: none; ">
                <table class="table">
                    <tr>
                        <td style="text-align:left;width:40%; border: none;">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey" style="width: 40%;">دپیریدونکو دخدمتونو مرکز</td>
                                    <td style="width: 0%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;">دنوی حساب شمیره/زوړ حساب شمیره</td>
                                    <td style="width: 60%;">null/null</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دګډون  شمیره</td>
                                    <td style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;">دپیرودونکی نوم</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دپلار نوم</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" tyle="width: 40%;"> پته</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> جنکشن ستیشن</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دترانسفرمر نوم</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دمتر دصندوق شمیره</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دسیمی دپیژندنی کود</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align:right;width:60%; border: none;">
                            <table class="table">
                                <tr style="background-color: #aaa;">
                                    <td class="bg-grey " style="width: 40%;"> دبریشنا تول مصارف</td>
                                    <td class="bg-grey " style="width: 30%;"> بیه</td>
                                    <td class="bg-grey " style="width: 30%;"> مبلغ په افغانی</td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;"> کیلو وا ساعت</td>
                                    <td style="width: 30%;"></td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%; border: none; font-weight: bolder; background-color: #aaa;">
                                        دمتفرقه پیسو تول مصارف
                                    </td>
                                    <td style="width: 30%; border: none; background-color: #aaa;"></td>
                                    <td style="width: 30%; border: none; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;">کمیشن بانکی</td>
                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;"> دثابت خدمتونو فیس په هردوران کی</td>
                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;"> دقرطاسی فیس</td>
                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;"> دترانسفرمر ضایعات/جریمه</td>

                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;"> دمتفرقه پیسو دورکری مقدار</td>
                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="text-align:right;width:48%; border:none; padding-right: 4%;">
                <table class="table">
                    <tr>
                        <td style="text-align:left;width:40%; border: none;">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey" style="width: 40%;">دپیریدونکو دخدمتونو مرکز</td>
                                    <td style="width: 0%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;">دنوی حساب شمیره/زوړ حساب شمیره</td>
                                    <td style="width: 60%;">null/null</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دګډون  شمیره</td>
                                    <td style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;">دپیرودونکی نوم</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دپلار نوم</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" tyle="width: 40%;"> پته</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> جنکشن ستیشن</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> تراسفارمر</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دمتر دصندوق شمیره</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 40%;"> دسیمی دپیژندنی کود</td>
                                    <td style="width: 60%;"></td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align:right;width:60%; border: none;">
                            <table class="table">
                                <tr style="background-color: #aaa;">
                                    <td class="bg-grey " style="width: 40%;"> دبریشنا تول مصارف</td>
                                    <td class="bg-grey " style="width: 30%;"> بیه</td>
                                    <td class="bg-grey " style="width: 30%;"> مبلغ به افغانی</td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;"> کیلو وا ساعت</td>
                                    <td style="width: 30%;"></td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                    <td style="width: 30%; border: none;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 30%; border: none; font-weight: bolder; background-color: #aaa;">
                                        دمتفرقه پیسو تول مصارف
                                    </td>
                                    <td style="width: 30%; border: none; background-color: #aaa;"></td>
                                    <td style="width: 30%; border: none; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;">کمیشن بانکی</td>
                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;"> دثابت خدمتونو فیس په هردوران کی</td>
                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;"> دقرطاسی فیس</td>
                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;"> دترانسفرمر ظایعات/ جریمه</td>

                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;"> دمتفرقه پیسو دورکری مقدار</td>
                                    <td style="width: 25%; border-left: none;"></td>
                                    <td style="width: 25%; border-right: none; "></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table" style="padding-top: 0px;">
        <tr>
            <td style="text-align:left;width:48%; border: none; ">
                <table class="table">
                    <tr>
                        <td style="text-align:left;width:40%; border: none;">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey"
                                        style="width: 100%; font-weight: bolder; background-color: #aaa;"> یادشتونه اوعلانات
                                    </td>
                                </tr>
                                <tr style="height: 83.5px;">
                                    <td style="width: 100%; "></td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align:left;width:60%; border: none;">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey"
                                        style="width: 60%; font-weight: bolder;  background-color: #aaa;"> دمتفرقه پیسو تول مصارف
                                        متفرقه</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>

                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;">اوسنی بیل</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;">مالیه</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;">مجموعی اوسنی بیل</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;">باقیات/باقیداره دوره</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;  background-color: #aaa;">دتحویل تول مبلغ
                                    </td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="text-align:right;width:48%; border:none; padding-right: 4%;">
                <table class="table">
                    <tr>
                        <td style="text-align:left;width:40%; border: none;">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey"
                                        style="width: 100%; font-weight: bolder; background-color: #aaa;"> یادشتونه اوعلانات
                                    </td>
                                </tr>
                                <tr style="height: 83.5px;">
                                    <td style="width: 100%; "></td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align:left;width:60%; border: none;">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey"
                                        style="width: 60%; font-weight: bolder;  background-color: #aaa;"> دمتفرقه پیسو تول مصارف
                                        متفرقه</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>

                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;">اوسنی بیل</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;">مالیه</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;">مجموعی اوسنی بیل</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;">باقیات/باقیداره دوره</td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey" style="width: 60%;  background-color: #aaa;">دتحویل تول مبلغ
                                    </td>
                                    <td class="bg-grey" style="width: 40%; background-color: #aaa;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table" style="padding-top: 0px;">
        <tr>
            <td style="text-align:left;width:48%; border: none; ">
                <table class="table">
                    <tr style="height: 30px;">
                        <td style="width : 100px"></td>
                    </tr>
                </table>
            </td>
            <td style="text-align:right;width:48%; border:none; padding-right: 4%;">
                <table class="table">
                    <tr style="height: 30px;">
                        <td style="width : 100px"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table class="table">
        <tr>
            <td style="text-align:left;width:48%; border: none;">
                <!-- heading section -->
                <table class="table">
                    <tr>
                        <td style="text-align:right;width:50%; padding-right: 50%; border: none; ">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey"> جنکشن ستیشن </td>
                                    <td>98798789798789</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey">دبل ورکولو دوره</td>
                                    <td>01</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> اوسنی لوستلو نیته</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دنوی حساب شمیره </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دګډون  شمیر </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دپیرودونکی شمیره </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دپیرودونکی نوم </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دپیرودونکی دپلار نوم </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دتحویل تول مبلغ </td>
                                    <td> </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- end of heading section -->
            </td>
            <td style="text-align:right; width: 48%; border: none; padding-right:4%;">
                <table class="table">
                    <tr>
                        <td style="text-align:right;width:70%; padding-right: 20%; border: none; ">
                            <table class="table">
                                <tr>
                                    <td class="bg-grey"> جنکشن ستیشن </td>
                                    <td>98798789798789</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey">دبل ورکولو دوره</td>
                                    <td>01</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> داوسنی لوستلو نیته</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دنوی حساب شمیره </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دګډون  شمیر </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دپیرودونکی شمیره </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دپیرودونکی نوم </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دپیرودونکی دپلار نوم </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="bg-grey"> دتحویل تول مبلغ </td>
                                    <td> </td>
                                </tr>
                            </table>
                        </td>
                        <td style="text-align:right;width:25%; padding-right: 10px; border: none;">
                            <!-- <barcode type="qr" mode="H">barcode</barcode> -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>